
<div class="form">
    <form action="/sent" method="post">
        <p>Contactez moi!</p>
        <p><input name="subject" type="text" placeholder="Sujet"></p>
        <p><input name="email" type="email" placeholder="Adresse email"></p>
        <p><textarea name="message" placeholder="Message" rows="3"></textarea></p>
        <p><input type="submit" value="Envoyer"></p>
    </form>
</div>